.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.DS_Store

/.quarto/
**/*.quarto_ipynb
*.aux

data/
literature/
nowlin-style-profile.md
references.bib
american-political-science-association.csl

# Idea-development workspace: raw copyrighted PDFs, an Obsidian vault, and
# pre-publication correspondence/drafts with a co-author. Local only.
00-info-agendas/
